In [1]:
5+5

10

In [44]:
import pandas as pd
df = pd.read_csv('C:/Users/Satvik Jha/Desktop/04_09_01.csv' ,low_memory = False )
df.shape
df

,call_id_agent_id,call_id,call_type,attempt,campaign_name,phone_number,agent_id,centre,disposition_code,main_disposition,...,sub_order_id,level1,level2,user_code,free2,free3,unique_id,satisfaction_score,orderid,email_id
0,0NE8PRNNV538PF0HCLA2FSFDAO08VT6P-FHWH008721,0NE8PRNNV538PF0HCLA2FSFDAO08VT6P,Outbound,1,Bengali_CMB,NaN,FHWH008721,Fusion KOL,758.0,Dialer_Issues,...,229834601511_1,842af83f-555a-42ec-a647-7dc137318a17,NaN,241801766,39,NaN,202309040000162000000,NaN,2.298346e+11,NaN
1,0NE8PRNNV538PF0HCLA2FSFDAO08VT3E-FCHE001187,0NE8PRNNV538PF0HCLA2FSFDAO08VT3E,Outbound,1,Kannada_CMB,NaN,FCHE001187,Fusion CHE,NaN,NaN,...,238860625118_1,300d6524-ea33-4204-b1ba-3218e60f53a2,NaN,141626063,5,NaN,202309040000286000000,NaN,2.388606e+11,NaN
2,0NE8PRNNV538PF0HCLA2FSFDAO08VT3H-TTBS203395,0NE8PRNNV538PF0HCLA2FSFDAO08VT3H,Outbound,1,Hindi_CMB,NaN,TTBS203395,TechnoTask RJN,778.0,Return,...,NaN,0ad21e29-cc32-4327-95ca-ea0701d53ed4,NaN,230006831,5,Guided_User_to_Reinitiate_Return_Unbundling,202309040000355000000,NaN,NaN,NaN
3,0NE8PRNNV538PF0HCLA2FSFDAO08VUPC-TTBS106742,0NE8PRNNV538PF0HCLA2FSFDAO08VUPC,Outbound,3,Hindi_CMB,NaN,TTBS106742,TechnoTask BPL,761.0,Return,...,103324168009_1,7c91cfb9-ac46-4960-9243-a8d3141249b7,NaN,185962951,5,Return_Request_denial,202309040000385000000,NaN,1.033242e+11,NaN
4,0NE8PRNNV538PF0HCLA2FSFDAO08VT3S-FCHE011275,0NE8PRNNV538PF0HCLA2FSFDAO08VT3S,Outbound,1,Tamil_CMB,NaN,FCHE011275,Fusion CHE,713.0,Order_status,...,400769555579_1,31e1770f-b36e-4c67-909e-aad15b601e7d,NaN,36813381,5,Product_RTOed_Customer_Dependency,202309040000406000000,No_Input_Before_Prompt,4.007696e+11,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
162979,0NE8PRNNV538PF0HCLA2FSFDAO099KM8-TTBS301265,0NE8PRNNV538PF0HCLA2FSFDAO099KM8,Outbound,1,Kannada_CMB,NaN,TTBS301265,TechnoTask Mysuru,215.0,Dialer_Issues,...,925804813989_1,377757b7-5c89-467c-be15-7fdc1868763e,NaN,182321088,5,NaN,202309042354452000000,NaN,9.258048e+11,NaN
162980,0NE8PRNNV538PF0HCLA2FSFDAO099KMM-TTBS301002,0NE8PRNNV538PF0HCLA2FSFDAO099KMM,Outbound,1,Kannada_CMB,NaN,TTBS301002,TechnoTask Mysuru,214.0,Dialer_Issues,...,246320723440_1,3e6fc8c0-06c8-494c-b87d-51072635b50c,NaN,321844832,5,NaN,202309042354463000000,NaN,2.463207e+11,NaN
162981,0NE8PRNNV538PF0HCLA2FSFDAO099KNT-TTBS301368,0NE8PRNNV538PF0HCLA2FSFDAO099KNT,Outbound,1,Kannada_CMB,NaN,TTBS301368,TechnoTask Mysuru,641.0,Order_status,...,911291106784_1,9f50f675-332f-4ceb-a501-4ce58673c8f4,NaN,199635828,5,NaN,202309042355099000000,Satisfied,9.112911e+11,NaN
162982,0NE8PRNNV538PF0HCLA2FSFDAO099L80-FCHE010551,0NE8PRNNV538PF0HCLA2FSFDAO099L80,Outbound,1,Telugu_CMB,NaN,FCHE010551,Fusion CHE,662.0,Dispatch_Date_Query,...,816635774026_1,7fd37a9d-c218-4edf-9f22-cfcaf0700eed,NaN,272453015,1308,Dispatch_Wants_Open_or_Express_delivery,202309042355589000000,No_Input_Before_Prompt,8.166358e+11,NaN
162983,0NE8PRNNV538PF0HCLA2FSFDAO099L8K-TTBS600440,0NE8PRNNV538PF0HCLA2FSFDAO099L8K,Outbound,1,Telugu_CMB,NaN,TTBS600440,TechnoTask VIJ,NaN,NaN,...,564794033988_1,e657f6a8-23bf-4890-8537-5978a6967f1d,NaN,141907520,5,NaN,202309042356358000000,NaN,5.647940e+11,NaN

In [8]:
df['language'].value_counts()

Hindi        108885
English       16702
Telugu        10934
Bengali        9178
Tamil          7941
Kannada        6130
Malayalam      3214
Name: language, dtype: int64

In [24]:
import math
avg = df.groupby(['language']) [['aht','talk_time','hold_duration']].mean()
avg.astype(int)

           aht  talk_time  hold_duration
language
Bengali    171        149             10
English    154        133              9
Hindi      194        173             11
Kannada    167        138             17
Malayalam  145        123             12
Tamil      153        126             17
Telugu     164        141             13

In [60]:
df["merger"] = df['unique_id'].astype(str) +"_"+ df['user_code'].astype(str)
print(merger)

0          202306010000000000000_37566414
1         202306010000045000000_275621064
2         202306010000095000000_157861453
3         202306010000162000000_296398806
4         202306010000163000000_286177457
                       ...
174343    202306012359309000000_247679087
174344    202306012359344000000_183477691
174345    202306012359351000000_246806592
174346     202306012359447000000_57414242
174347    202306012359504000000_150823472
Length: 174348, dtype: object

In [61]:
dist = df.groupby(['language'])['merger'].nunique()
dist

language
Bengali        7889
English       15976
Hindi        112244
Kannada        6952
Malayalam      3673
Tamil          8037
Telugu        15800
Name: merger, dtype: int64

In [69]:
cond = df.query("sub_disposition =='Abandoned'")
dist1 = df.groupby(['language'])[['merger']].nunique()
dist

language
Bengali        7889
English       15976
Hindi        112244
Kannada        6952
Malayalam      3673
Tamil          8037
Telugu        15800
Name: merger, dtype: int64

In [34]:
df['aht'].sum()

KeyError: 'aht'